.main-chat
  .main-chat__group-info
    .header-leftbox
      %h2.group-title
        = @group.name            
        %ul.group-member 
          Member:
          - @group.users.each do |user|
            %li
              = user.name
    .header-rightbox
      = link_to edit_group_path(@group.id) do
        .edit-btn
          Edit
  .main-chat__message-list
    = render @messages
      
  .main-chat__message-form
    = form_with model: [@group, @message], html: {class: "new-message"}, local: true do |f|
      .input-box
        = f.text_field :content, class: 'input-text', placeholder: 'type a message'
        = f.label :image, class: 'input-imagebox' do
          = icon('far', 'image', class: 'input-icon')
          = f.file_field :image, class: 'input-imagebox-file'
      = f.submit 'Send', class: 'submit-btn'