.side-bar
  .side-bar__user-name
    .side-box
      %p.name-box
        = current_user.name
      %p.icon-box
        = link_to "#", class: "group-icon" do
          = icon('far', 'edit')
        = link_to edit_user_path(current_user), class: "config-icon" do
          = icon('fas', 'cog')
  .side-bar__group-list
    .group-lists
      %p.group-name
        techcamp
      %p.group-message
        まだメッセージはありません
    .group-lists
      %p.group-name
        techcamp
      %p.group-message
        まだメッセージはありません
    .group-lists
      %p.group-name
        techcamp
      %p.group-message
        まだメッセージはありません