.side-bar
  .side-bar__user-name
    .side-box
      %p.name-box
        = current_user.name
      %p.icon-box
        = link_to new_group_path(current_user), class: "group-icon" do
          = icon('far', 'edit')
        = link_to edit_user_path(current_user), class: "config-icon" do
          = icon('fas', 'cog')
  .side-bar__group-list
    - current_user.groups.each do |group|
      .group-lists
        = link_to group_messages_path(group) do
          %p.group-name
            = group.name
          %p.group-message
            = group.show_last_message